{{#each quotes as |quote|}}
  {{log quote}}
  <section id="handlebars" data-id="{{quote.id}}">

    <h2 class="box box-width notepaper curly-quotes">
      "{{ quote.content }}"
    </h2>
    <h6 class="box box-width quote by" class="quote-info">by
      {{#if quote.author}}
        {{quote.author}}
      {{else}}
        No author provided.
      {{/if}}
    </h6>
    <h6 class="quote-info">Mood: {{#if quote.mood}}
      {{quote.mood}}
    {{else}}
      No mood provided.
    {{/if}}
  </h6>
    <!-- <h6 class="quote-info">ID: {{#if quote.id}}
    {{quote.id}}
    {{else}}
    No ID Provided.
    {{/if}}</h6> -->
    <!-- {{> partial}} -->
  </section>

{{/each}}
