{{#each quips as |quip|}}
  {{log quip}}
  <section id="handlebars" data-id="{{quip.id}}">

    <h2 class="box box-width notepaper curly-quotes">
      "{{ quip.content }}"
    </h2>
    <h6 class="box box-width quote by" class="quote-info">by
      {{#if quip.author}}
        {{quip.author}}
      {{else}}
        No author provided.
      {{/if}}
    </h6>
    <h6 class="quote-info">Mood: {{#if quip.mood}}
      {{quip.mood}}
    {{else}}
      No mood provided.
    {{/if}}
  </h6>
    <h6 class="quote-info">ID: {{#if quip.id}}
    {{quip.id}}
    {{else}}
    No ID Provided.
    {{/if}}</h6>
    <!-- {{> partial}} -->
  </section>

{{/each}}
